*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    overflow: hidden;
}

h3{
    color: gray;
    font-size: 40px;
    position: relative;
    text-align: center;
    margin-top: 200px;
}